//This is the layout used for logged in users

!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "First Touch"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    .container-fullwidth#main-wrapper
      #navbar-wrapper
        - if current_user.nil?
          = render 'layouts/navigation'
        - else
          = render 'layouts/auth_navigation'

      #main-wrapper
        #sidebar-wrapper
          .bootstrap-vertical-nav
            %nav.navbar.navbar-light.bg-faded
              #responsive-sidebar
                %ul.nav.navbar-nav
                  %li.nav-item
                    %a.nav-link{href: '#'}
                      %i.fa.fa-newspaper-o
                      .sidebar-label Feed
                  %li.nav-item
                    %a.nav-link{href: '#profile'}
                      %i.fa.fa-user
                      .sidebar-label Profile
                  %li.nav-item
                    %a.nav-link{href: '#myclub'}
                      %i.fa.fa-shirtsinbulk
                      .sidebar-label My Club
                  %li.nav-item
                    %a.nav-link{href: '#network'}
                      %i.fa.fa-connectdevelop
                      .sidebar-label Network
                  %li.nav-item
                    %a.nav-link{href: '#messages'}
                      %i.fa.fa-envelope
                      .sidebar-label Messages
                  %li.nav-item
                    %a.nav-link{href: '#interests'}
                      %i.fa.fa-heart
                      .sidebar-label Interests

        #app-wrapper-content

    = yield
