!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:content => "FirstTouch the next generation platform for football professionals", :name => "description"}
    %meta{:content => "FirstTouch", :name => "author"}

    = favicon_link_tag 'favicon.png', type: 'image/png'
    %title= "Welcome to First Touch"

    = stylesheet_link_tag "landingpage"
    = javascript_include_tag "application"
    = csrf_meta_tag
    / Html5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

  %body.landing-page
    / Navigation
    %nav#landing-navbar.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#ft-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a#navbar-logo.navbar-brand{:href => "/"}
            = image_tag 'landing-page/ft-navbar-logo.png'
        / Collect the nav links, forms, and other content for toggling
        #ft-navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Change Language
            %li
              %a(href='users/sign_in') Log In
            %li.with-border
              %a{:href => "#"} Sign Up
        / /.navbar-collapse
      / /.container
    / Page Content
    = yield
